<footer class="bg-customColor text-white py-5 px-20">
  <p class="-ml-12 font-bold lg:-ml-0">Inovapage</p>

  <section
    class="flex flex-col-reverse items-center mb-5 lg:flex-row lg:mb-10 lg:justify-around lg:items-center"
  >
    <section class="flex">
      <div>
        <div class="flex gap-5 mb-7 mt-10 max-2xl:justify-center">
          <img
            class="bg-white rounded-3xl p-2 w-12 h-12 lg:w-9 lg:h-9 lg:p-1"
            src="../../public/images/footer/linke.png"
            alt=""
          />
          <img
            class="bg-white rounded-3xl p-2 w-12 h-12 lg:w-9 lg:h-9 lg:p-1"
            src="../../public/images/footer/insta.png"
            alt=""
          />
        </div>
        <section
          class="max-2xl:flex flex-row-reverse gap-5 max-2xl:text-xs max-2xl:w-80 max-2xl:justify-center"
        >
          <div
            class="flex gap-3 mb-5 max-2xl:items-center max-2xl:mb-0 max-2xl:gap-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#e8eaed"
              ><path
                d="M763-145q-121-9-229.5-59.5T339-341q-86-86-136-194.5T144-765q-2-21 12.5-36.5T192-817h136q17 0 29.5 10.5T374-780l24 107q2 13-1.5 25T385-628l-97 98q20 38 46 73t58 66q30 30 64 55.5t72 45.5l99-96q8-8 20-11.5t25-1.5l107 23q17 5 27 17.5t10 29.5v136q0 21-16 35.5T763-145Z"
              ></path></svg
            >
            <p>+549 1153182734</p>
          </div>
          <div class="flex gap-3 max-2xl:items-center max-2xl:gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#e8eaed"
              ><path
                d="M168-192q-29 0-50.5-21.5T96-264v-432q0-29 21.5-50.5T168-768h624q30 0 51 21.5t21 50.5v432q0 29-21 50.5T792-192H168Zm312-240 312-179v-85L480-517 168-696v85l312 179Z"
              ></path></svg
            >
            <p>ventas@inovapage.com</p>
          </div>
        </section>
      </div>
    </section>

    <section class="flex flex-col gap-10 justify-center items-center">
      <button
        class="flex gap-3 p-4 rounded-xl border-2 text-xs items-center w-56 justify-center mt-10
        lg:text-lg lg:w-72 lg:p-5"
      >
        Solicitar presupuesto
        <svg
          width="24"
          height="26"
          viewBox="0 0 24 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.984 11.424L5.50399 3.63201C4.28799 2.97601 2.87999 4.11201 3.26399 5.44001L5.24799 12.384C5.32799 12.672 5.32799 12.96 5.24799 13.248L3.26399 20.192C2.87999 21.52 4.28799 22.656 5.50399 22L19.984 14.208C20.231 14.073 20.4372 13.874 20.5808 13.6319C20.7244 13.3898 20.8002 13.1135 20.8002 12.832C20.8002 12.5505 20.7244 12.2742 20.5808 12.0321C20.4372 11.79 20.231 11.591 19.984 11.456V11.424Z"
            fill="white"></path>
        </svg>
      </button>
      <div class="flex gap-10 text-lg lg:gap-16">
        <a href="/nosotros">Nosotros</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/contacto">Contacto</a>
      </div>
    </section>

    <section class="hidden lg:block lg:mt-7">
      <div class="flex flex-col gap-7">
        <p>Diseño UX / UI</p>
        <p>Desarrollo Web</p>
        <p>Plataformas Web E-commerce</p>
        <p>Actualización de Sistemas Web</p>
      </div>
    </section>
  </section>

  <p class="text-[10px] text-center">
    © 2024 Inovapage. Todos los derechos reservados.
  </p>
</footer>
