<header class="bg-customColor text-white p-6" title="Header">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-base font-bold">Inovapage</h1>
      <nav>
        <img class="block lg:hidden" src="../../public/images/menu.png" alt="">
        <ul class="space-x-4 hidden lg:flex">
          <li><a href="#" class="hover:text-gray-300">Inicio</a></li>
          <li><a href="#" class="hover:text-gray-300">Portafolio</a></li>
          <li><a href="#" class="hover:text-gray-300">Servicios</a></li>
          <li><a href="/contacto" class="hover:text-gray-300">Contacto</a></li>
        </ul>
      </nav>
  </div>
</header>
