---
const { pathname } = Astro.url;
---

<header
  id="header"
  class="bg-customColor text-white p-6 top-0 left-0 w-full z-10 font-inter"
  title="Header"
>
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-bold">
      <h1>Inovapage</h1>
    </a>
    <nav>
      <img
        id="menu-btn"
        class="block lg:hidden cursor-pointer"
        src="../../public/images/menu.png"
      />
      <ul id="menu" class="space-x-4 hidden lg:flex text-lg">
        <li>
          <a
            href="/"
            class={`hover:text-gray-300 mb-4 ${pathname === "/" ? "border-b-2 border-white" : ""}`}
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="/portafolio"
            class={`hover:text-gray-300 mb-4 ${pathname === "/portafolio" ? "border-b-2 border-white" : ""}`}
            >Portafolio</a
          >
        </li>
        <li>
          <a
            href="/servicios"
            class={`hover:text-gray-300 mb-4 ${pathname === "/servicios" ? "border-b-2 border-white" : ""}`}
            >Servicios</a
          >
        </li>
        <li>
          <a
            href="/contacto"
            class={`hover:text-gray-300 mb-4 ${pathname === "/contacto" ? "border-b-2 border-white" : ""}`}
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<section
  id="mobile-menu"
  class="font-inter fixed top-0 left-0 right-0 bottom-0 bg-gradient-to-b from-[#101052] to-[#7070BA] text-white flex flex-col items-start justify-start gap-7 transform -translate-y-full transition-transform duration-300 z-20 pt-4 pl-4"
>
  <div class="flex justify-between items-center w-full px-6">
    <h1 class="text-lg font-bold">Inovapage</h1>
    <svg
      id="close-btn"
      class="block lg:hidden cursor-pointer w-10 h-10"
      xmlns="http://www.w3.org/2000/svg"
      height="20px"
      viewBox="0 -960 960 960"
      width="20px"
      fill="#e8eaed"
    >
      <path
        d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
      ></path>
    </svg>
  </div>
  <div class="pl-10 flex flex-col gap-7 pt-2 text-lg">
    <a
      href="/"
      class={`hover:text-gray-300 text-base mb-4 ${pathname === "/" ? "border-b-2 border-white" : ""}`}
    >
      Inicio
    </a>

    <a
      href="/portafolio"
      class={`hover:text-gray-300 text-base mb-4 ${pathname === "/portafolio" ? "border-b-2 border-white" : ""}`}
    >
      Portafolio
    </a>
    <a
      href="/servicios"
      class={`hover:text-gray-300 text-base mb-4 ${pathname === "/servicios" ? "border-b-2 border-white" : ""}`}
    >
      Servicios
    </a>
    <a
      href="/contacto"
      class={`hover:text-gray-300 text-base ${pathname === "/contacto" ? "border-b-2 border-white" : ""}`}
    >
      Contacto
    </a>
  </div>
</section>

<script>
  const menuBtn: any = document.getElementById("menu-btn");
  const closeBtn: any = document.getElementById("close-btn");
  const mobileMenu: any = document.getElementById("mobile-menu");
  const header: any = document.getElementById("header");
  let menuOpen: boolean = false;

  menuBtn.addEventListener("click", () => {
    mobileMenu.classList.remove("hidden");
    mobileMenu.classList.remove("translate-y-0");
    void mobileMenu.offsetWidth;
    mobileMenu.classList.add("translate-y-0");
    header.classList.add("hidden");
    menuOpen = true;
  });

  closeBtn.addEventListener("click", () => {
    mobileMenu.classList.remove("translate-y-0");
    mobileMenu.classList.add("-translate-y-full");
    setTimeout(() => {
      mobileMenu.classList.add("hidden");
    }, 300);
    header.classList.remove("hidden");
    menuOpen = false;
  });

  function setActiveMenuItem() {
    const path = window.location.pathname;
    const menuItems = document.querySelectorAll("#menu a, #mobile-menu a");

    menuItems.forEach((item) => {
      if (item.getAttribute("href") === path) {
        item.classList.add("active");
      } else {
        item.classList.remove("active");
      }
    });
  }

  setActiveMenuItem();
</script>
