<article class="my-16 md:px-24">
  <section class="p-4 flex flex-col gap-5 items-start">
    <p class="text-2xl font-bold">Agencia de diseño y desarrollo</p>
    <p class="font-medium md:w-80">
      Somos una agencia en brindar atención personalizada y entregar el mejor
      soporte a nuestros clientes.
    </p>
    <button class="bg-indigo-500 text-white px-4 py-2 rounded-md text-2xl"
      >Contactanos</button
    >
  </section>
  <section class="p-4 md:mt-10">
    <p class="text-2xl font-bold text-center mb-4">
      Somos una organización especializada en
    </p>

    <div
      class="flex flex-col items-center gap-6 md:flex-row md:flex-wrap md:gap-14 md:py-8 md:justify-evenly"
    >
      <div
        class="max-w-sm overflow-hidden shadow-xl rounded-3xl px-4 py-6 flex flex-col gap-2 items-start"
      >
        <svg
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.31734 39.4872L18.515 27.2895M33.8752 21.8653L30.2239 32.8191C30.1657 32.9947 30.0659 33.1536 29.9331 33.2824C29.8003 33.4112 29.6384 33.506 29.4611 33.5589L7.07825 40.2117C6.8766 40.2715 6.66239 40.275 6.45892 40.2216C6.25545 40.1682 6.07053 40.06 5.92428 39.9088C5.77803 39.7576 5.67604 39.5692 5.62943 39.3641C5.58282 39.1589 5.59337 38.945 5.65992 38.7454L12.9279 16.9452C12.98 16.7887 13.0652 16.6452 13.1776 16.5245C13.29 16.4038 13.4271 16.3087 13.5796 16.2457L23.9047 11.9945C24.1146 11.9078 24.3455 11.8852 24.5682 11.9295C24.7909 11.9739 24.9956 12.0832 25.1563 12.2437L33.5973 20.6885C33.7483 20.8395 33.8543 21.0296 33.9034 21.2374C33.9525 21.4453 33.9427 21.6627 33.8752 21.8653Z"
            stroke="black"
            stroke-width="3.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M34.1013 21.1907L39.5217 15.7684C40.2403 15.0496 40.644 14.0747 40.644 13.0582C40.644 12.0418 40.2403 11.0669 39.5217 10.3481L35.4583 6.28091C35.1024 5.92479 34.6797 5.64229 34.2145 5.44955C33.7493 5.25681 33.2507 5.15761 32.7472 5.15761C32.2437 5.15761 31.7451 5.25681 31.2799 5.44955C30.8147 5.64229 30.3921 5.92479 30.0361 6.28091L24.6157 11.7032M22.5802 23.2223C22.3132 22.9554 21.9962 22.7437 21.6473 22.5993C21.2984 22.4549 20.9245 22.3806 20.5469 22.3807C20.1694 22.3808 19.7955 22.4552 19.4467 22.5998C19.0979 22.7444 18.781 22.9562 18.514 23.2233C18.2471 23.4903 18.0354 23.8074 17.891 24.1562C17.7466 24.5051 17.6723 24.879 17.6724 25.2566C17.6725 25.6342 17.7469 26.008 17.8915 26.3568C18.0361 26.7057 18.2479 27.0226 18.515 27.2895C19.0543 27.8286 19.7857 28.1313 20.5483 28.1312C21.3109 28.131 22.0421 27.8279 22.5812 27.2885C23.1203 26.7492 23.423 26.0178 23.4229 25.2552C23.4227 24.4927 23.1196 23.7614 22.5802 23.2223Z"
            stroke="black"
            stroke-width="3.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <div class="font-bold text-base">Diseño UX/UI</div>
        <p class="font-medium text-sm">
          Desarrollamos interfaces y experiencias de usuario únicas que
          fortalecen el vínculo entre las marcas y su público.
        </p>
      </div>

      <div
        class="max-w-sm overflow-hidden shadow-xl rounded-3xl px-4 py-6 flex flex-col gap-2 items-end"
      >
        <svg
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.3567 26.8333C31.51 25.5683 31.625 24.3033 31.625 23C31.625 21.6967 31.51 20.4317 31.3567 19.1667H37.835C38.1417 20.3933 38.3333 21.6775 38.3333 23C38.3333 24.3225 38.1417 25.6067 37.835 26.8333M27.9642 37.49C29.1142 35.3625 29.9958 33.0625 30.6092 30.6667H36.2633C34.4064 33.8642 31.4604 36.2863 27.9642 37.49ZM27.485 26.8333H18.515C18.3233 25.5683 18.2083 24.3033 18.2083 23C18.2083 21.6967 18.3233 20.4125 18.515 19.1667H27.485C27.6575 20.4125 27.7917 21.6967 27.7917 23C27.7917 24.3033 27.6575 25.5683 27.485 26.8333ZM23 38.2567C21.4092 35.9567 20.125 33.4075 19.3392 30.6667H26.6608C25.875 33.4075 24.5908 35.9567 23 38.2567ZM15.3333 15.3333H9.73667C11.5741 12.1268 14.5181 9.70072 18.0167 8.51001C16.8667 10.6375 16.0042 12.9375 15.3333 15.3333ZM9.73667 30.6667H15.3333C16.0042 33.0625 16.8667 35.3625 18.0167 37.49C14.525 36.2869 11.5849 33.864 9.73667 30.6667ZM8.165 26.8333C7.85834 25.6067 7.66667 24.3225 7.66667 23C7.66667 21.6775 7.85834 20.3933 8.165 19.1667H14.6433C14.49 20.4317 14.375 21.6967 14.375 23C14.375 24.3033 14.49 25.5683 14.6433 26.8333M23 7.72418C24.5908 10.0242 25.875 12.5925 26.6608 15.3333H19.3392C20.125 12.5925 21.4092 10.0242 23 7.72418ZM36.2633 15.3333H30.6092C30.0084 12.9598 29.1201 10.6684 27.9642 8.51001C31.4908 9.71751 34.4233 12.1517 36.2633 15.3333ZM23 3.83334C12.4008 3.83334 3.83334 12.4583 3.83334 23C3.83334 28.0833 5.85268 32.9584 9.44712 36.5529C11.2269 38.3327 13.3398 39.7445 15.6652 40.7077C17.9906 41.6709 20.483 42.1667 23 42.1667C28.0833 42.1667 32.9584 40.1473 36.5529 36.5529C40.1473 32.9584 42.1667 28.0833 42.1667 23C42.1667 20.483 41.6709 17.9907 40.7077 15.6652C39.7445 13.3398 38.3327 11.2269 36.5529 9.44713C34.7731 7.66734 32.6602 6.25553 30.3348 5.29232C28.0094 4.3291 25.517 3.83334 23 3.83334Z"
            fill="black"></path>
        </svg>

        <div class="font-bold text-base">Desarrollo web</div>
        <p class="font-medium text-sm">
          En Inovapage, diseñamos portfolios y páginas de presentación que
          destacan tu emprendimiento con un diseño que cautiva y atrae clientes.
        </p>
      </div>

      <div
        class="max-w-sm overflow-hidden shadow-xl rounded-3xl px-4 py-6 flex flex-col gap-2 items-start"
      >
        <svg
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M36.7003 5.6944C36.3585 5.12832 35.8767 4.65976 35.3014 4.33381C34.726 4.00786 34.0764 3.8355 33.4152 3.83331H12.5848C11.247 3.83331 9.98775 4.54631 9.29966 5.6944L4.10741 14.3462C3.92818 14.6443 3.83344 14.9855 3.83333 15.3333C3.84098 17.1833 4.52236 18.9671 5.74999 20.3511V36.4166C5.74999 38.5307 7.46924 40.25 9.58333 40.25H36.4167C38.5307 40.25 40.25 38.5307 40.25 36.4166V20.3511C41.4776 18.9671 42.159 17.1833 42.1667 15.3333C42.1665 14.9855 42.0718 14.6443 41.8926 14.3462L36.7003 5.6944ZM38.3027 15.8144C38.1855 16.7403 37.7346 17.5917 37.0346 18.2088C36.3345 18.826 35.4333 19.1666 34.5 19.1666C32.3859 19.1666 30.6667 17.4474 30.6667 15.3333C30.6667 15.203 30.6187 15.088 30.5919 14.9653L30.6302 14.9576L29.1717 7.66665H33.4152L38.3027 15.8144ZM20.7364 7.66665H25.2617L26.8199 15.4579C26.7528 17.5126 25.07 19.1666 23 19.1666C20.93 19.1666 19.2472 17.5126 19.1801 15.4579L20.7364 7.66665ZM12.5848 7.66665H16.8283L15.3717 14.9576L15.41 14.9653C15.3812 15.088 15.3333 15.203 15.3333 15.3333C15.3333 17.4474 13.6141 19.1666 11.5 19.1666C10.5667 19.1666 9.66552 18.826 8.96543 18.2088C8.26534 17.5917 7.81445 16.7403 7.69733 15.8144L12.5848 7.66665ZM19.1667 36.4166V30.6666H26.8333V36.4166H19.1667ZM30.6667 36.4166V30.6666C30.6667 28.5526 28.9474 26.8333 26.8333 26.8333H19.1667C17.0526 26.8333 15.3333 28.5526 15.3333 30.6666V36.4166H9.58333V22.7278C10.1986 22.8869 10.833 23 11.5 23C12.5881 22.9993 13.6636 22.767 14.655 22.3186C15.6464 21.8702 16.531 21.2158 17.25 20.3991C18.6549 21.9937 20.7134 23 23 23C25.2866 23 27.3451 21.9937 28.75 20.3991C29.469 21.2158 30.3536 21.8702 31.345 22.3186C32.3364 22.767 33.4119 22.9993 34.5 23C35.167 23 35.8014 22.8869 36.4167 22.7278V36.4166H30.6667Z"
            fill="black"></path>
        </svg>

        <div class="font-bold text-base">Ecommerce</div>
        <p class="font-medium text-sm">
          Diseñamos tiendas online eCommerce que combinan estética y
          rendimiento, para que tu sitio web sea el principal motor de tus
          ventas.
        </p>
      </div>

      <div
        class="max-w-sm overflow-hidden shadow-xl rounded-3xl px-4 py-6 flex flex-col gap-2 items-end"
      >
        <svg
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.5096 17.0967L14.2217 14.3904L20.6157 20.7844L31.7994 9.59869L34.5115 12.3108L20.6157 26.2028L11.5096 17.0967Z"
            fill="black"></path>
          <path
            d="M40.25 3.83331H5.75C4.73427 3.83635 3.76101 4.24119 3.04277 4.95942C2.32454 5.67765 1.9197 6.65092 1.91666 7.66665L1.92433 30.6743C1.92636 31.6883 2.33007 32.6602 3.04708 33.3772C3.76409 34.0942 4.73599 34.498 5.75 34.5H19.1667V38.3333L15.341 38.341L15.3333 42.1666H30.6667L30.6743 38.341L26.8333 38.3333V34.5H40.25C41.2657 34.4969 42.239 34.0921 42.9572 33.3739C43.6755 32.6556 44.0803 31.6824 44.0833 30.6666V7.66665C44.0803 6.65092 43.6755 5.67765 42.9572 4.95942C42.239 4.24119 41.2657 3.83635 40.25 3.83331ZM40.25 30.6666H5.75V7.66665H40.25V30.6666Z"
            fill="black"></path>
        </svg>

        <div class="font-bold text-base">Actualizacion de sistemas web</div>
        <p class="font-medium text-sm">
          Te simplificamos la vida, ofreciéndote un servicio de mantenimiento
          web para que tu página esté siempre actualizada y funcionando a la
          perfección.
        </p>
      </div>
    </div>
  </section>

  <section class="my-10">
    <p class="font-bold text-2xl text-center mb-10">Mejores proyectos</p>
    <div class="flex flex-col items-center gap-6 px-4 md:w-1/3">
      <div class="bg-slate-500 w-24 h-24 rounded-xl"></div>
      <p class="font-bold">Proyecto DataLoggin</p>
      <p class="font-medium text-center text-base">
        Se desarrollo un sistema web que es capas de proyectar los datos de una
        maquina frigorífica en una red local, para que una área operativa pueda
        analizar los datos desde la comidad de su oficina sin navegar hasta la
        parte de producción.
      </p>
    </div>
  </section>
</article>
